<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Response_Generator_Boilerplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Response_Generator_Boilerplate.Properties.Settings>
            <setting name="Responses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>This is response 1.</string>
                        <string>This is response 2.</string>
                        <string>This is response 3.</string>
                        <string>This is response 4.</string>
                        <string>This is response 5.</string>
                        <string>This is response 6.</string>
                        <string>This is response 7.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Response_Generator_Boilerplate.Properties.Settings>
    </applicationSettings>
</configuration>
